<div class="sport-spot">
    <mat-toolbar class="toolbar">
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        @if (teamService.team()) {
        <span>{{ teamService.team()?.name }}</span>
        } @else {
            <span>Sport Spot</span>
        }
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <div class="view">
        <router-outlet></router-outlet>
    </div>
</div>