<button mat-icon-button (click)="getGame()">
    <mat-icon>refresh</mat-icon>
</button>
<div class="game-details" style="display: flex; flex-direction: row; justify-content: space-evenly;">
    @for (rotation of rotations; track rotation) {
    <mat-list>
        <div mat-subheader>{{rotation.name}}</div>
        @for (sub of rotation.substitutions; track sub) {
        <mat-list-item>
            <div matListItemTitle>{{sub.position.name}}</div>
            <div matListItemLine>{{sub.player.name}} - {{sub.playerCount}} subs</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
    </mat-list>
    }
</div>